.main{
    
    &__header{
        height: 90vh;
        background-color: $blue;
        color: $white;
    }
    &__header-wrapper{
        display: flex;
        align-items: flex-end;
        height: 90vh;
    }
    &__header-right-img{
        width: 648px;
        position: absolute;
        bottom:0;
        right: 0;
    }
    &__header-left{
        width: 604px;
    }
    &__header-title{
        font-weight: 400;
        font-size: 72px;
        line-height: 76px;
        font-family: 'Epilogue', sans-serif;
        margin-bottom: 34px;
    }
    &__header-desc{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 23px;
    }
    &__header-button{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 100px;
        display: block;
        color: $blue;
        padding: 20px 40px;
        border-radius: 50px;
        background-color: #fff;
        width: fit-content;
        padding-right: 84px;
        position: relative;
        &::after{
            position:absolute;
            top: 50%;
            right: 40px;
            content: "";
            width: 24px;
            height: 24px;
            background-image: url(../img/svg/mail.svg);
            transform: translateY(-50%);
        }
    }
    .awards{
        margin-bottom: 50px;
        position: relative;
        padding-left: 88px;
        &::after{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            content: "";
            width: 64px;
            height: 64px;
            background-image: url(../img/svg/awards.svg);
        }
        &__title{
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 7px;
        }
        &__desc{
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            opacity: 0.6;
        }
    }
    .about{
        padding-top: 144px;
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
        &__wrapper-left{
            width: 400px;
        }
        &__wrapper-right{
            width: 790px;
        }
        &__expirience{
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            .expirience{
                &__numbers{
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 66px;
                    color: #4543E8;
                    margin-bottom: 8px;
                    display: inline-block;
                }
                &__text{
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 31px;
                }
            }
        }
        &__logo-company{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .stars{
            
        display: inline-block;
        margin-bottom: 23px;
        .star{
            width: 22px;
            height: 21px;
            margin-right: 10px;
            background-image: url(../img/svg/star.svg);
            background-size: cover;
            display: inline-block;
        }
    }
    .feedback{
        margin-top: 115px;
        
        &__text{
            font-weight: 400;
            font-size: 19px;
            line-height: 28px;
            width: 391px;
        }
        &__person{
            margin-top: 27px;
            
            padding-left: 88px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 64px;
                height: 64px;
                background-image: url(../img/index/person-foto.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .person__name{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 7px;
        }
        .person__post{
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
        }
    }
    
    .section__name{
        display: flex;
        align-items: center;
    }
    .wave-title{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #4543E8;
        margin:0 20px;
        
    }
    .section-title{
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 74px;
    }
    .work{
        padding-top: 180px;
        .section__name{
            margin-bottom: 26px;
        }
        .section-title{
            width: 700px;
            font-size: 60px;
            line-height: 66px;
        }
        &__wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            padding-bottom: 60px;
            & .item1{
                width: 510px;
            }
            & .item2{
                width: 620px;
                margin-bottom: 95px;
            }
            & .item3{
                width: 740px;
                margin-bottom: 55px;
                position: relative;
                margin-left: 390px;
            }
            & .item4{
                width: 620px;
            }
            & .item5{
                width: 510px;
            }

        }
        &__item{
            padding-bottom: 24px;
            display: inline-block;
            &-img{
                margin-bottom: 32px;
            }
            &-title{
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 4px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 28px;
                    height: 28px;
                    background: url(../img/svg/work-arrow.svg);
                }
            }
            &-desc{
                font-weight: 400;
                font-size: 12px;
                line-height: 28px;
            }
        }
        &__all-projects{
            width: 160px;
            height: 160px;
            background-color: #4543E8;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: $white;
            padding: 0 40px;
            text-align: center;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: 352px;
        }
    }
    .services{
        margin-top: 120px;
        padding: 144px 0;
        background-color: #010032;
        color: #fff;
        .wave-title, .section-title{
            color: inherit;
        }
        .section-title{
            width: 352px;
            padding-top: 22px;
            margin-right: 167px;
        }
        &__wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
        }
        &__item{
            width: 290px;
            &-img{
                margin-bottom: 20px;
            }
            &-title{
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 23px;
            }
            &-desc{
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
            }
        }
        .item3{
            margin-left: 190px;
            margin-top: 58px;
        }
        .start-project{
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            padding: 20px 60px;
            background-color: $white;
            border-radius: 50px;
            color: $black;
            height: fit-content;
        }
        .wave-decor{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
            img:last-child{
                margin-top: 26px;
            }
        }
    }
    .testimonials{
        background-color: #D8D8EB;
        padding: 120px 0;
        .section__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .section-title{
            font-weight: 400;
            font-size: 60px;
            line-height: 66px;
            text-align: center;
            width: 623px;
            margin-top: 26px;
        }
        .swiper-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .star{
                background-image: url(../img/svg/star-t.svg);
            }
            .person__name{
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 7px;
            }
            .person__post{
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
            }
        }
        li{
            padding: 40px;
            background-color: #fff;
            border-radius: 20px 20px 0 20px;
            width: 576px;
            margin-bottom: 25px;
        }
        .swiper{
            &__title{
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 16px;
            }
            &__desc{
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 23px;
            }
        }
    }
}


