ul.pagination
  //- li.prev
  //-   a(href='#') предыдущая
  li.first
    a(href='#') 1
  li
    a(href='#') 3
  li
    a(href='#') 4
  li.active
    span 5
  li
    a(href='#') 6
  li
    a(href='#') 7
  li.last
    a(href='#') 9
  //- li.next
  //-   a(href='#') следующая