footer.footer 
    .container 
        .footer__wrapper 
            p.copyright © Template by Sumit Hegde - Powered by Webflow
            .footer__nav 
                a.footer__nav-link(href="") Style Guide/
                a.footer__nav-link(href="") Licenses/
                a.footer__nav-link(href="") Instructions/
                a.footer__nav-link(href="") Change Log
                