footer.footer 
    .container 
        .footer-iner 
            .footer__logo 
                a(href="#")
                    img(src="img/svg/logo-w.svg") 
            .footer__contacts 
                .footer__contact 
                    p.footer__title адрес
                    p.footer__text(itemprop="streetAddress") 241028, Брянск, ул. Карачижская, д. 63, оф. 8
                .footer__contact 
                    p.footer__title для связи
                    a(href="tel:+79155387787").footer__text(itemprop="telephone") +7 (915) 538-77-87 
                    a(href="tel:+79532829024").footer__text(itemprop="telephone") |  +7 (953) 282-90-24
                .footer__contact 
                    p.footer__title часы для связи
                    p.footer__text Пн-Вс: 9:00 – 20:00
                .footer__contact 
                    p.footer__title почта
                    a(href="mailto:vdrsmp@mail.ru").footer__text vdrsmp@mail.ru
            .footer__links 
                a.footer__link(href="#") Бетонные и монолитные работы
                a.footer__link(href="#") Изготовление и монтаж металлоконструкций
                a.footer__link(href="#") Монтаж оборудования
                a.footer__link(href="#") Строительство объектов сельскохоз. назначения
            .footer__policy
                a.footer__policy-link(href="#") Скачать сведения о включении специалистов в реест НОСТРОЙ
                p.footer__copyright Все права защищены <br> 2016 - 2022 © ООО «ВДР-СМП»
                a.footer__private.load--policy(href="#") Политика обработки персональных данных
                a.rband(target="_blank", href="https://r-band.ru/") 
                    img(src="img/svg/RBand-logo.svg", alt="Сайт разработан в RBand") 
                    
