meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='format-detection' content='telephone=no')
meta(name='description' content='site')
meta(name='keywords' content='site')
title #{title}
link(rel="icon" href="favicon.ico" type="image/x-icon")
link(href=`css/style.min.css` type="text/css" rel="stylesheet")
script(src="js/vendor.min.js" defer)
script(src="js/app.min.js" defer)