header.header   
    .container  
        .header__wrapper 
            a(href="index.html")  
                img.header__logo(src="img/svg/main-logo.svg", alt="Логотип")
            nav.header__nav 
                ul.header__nav-list 
                    li.header__nav-list-item
                        a.header__nav-item(href="#") Work
                    li.header__nav-list-item
                        a.header__nav-item(href="#") About
                    li.header__nav-list-item
                        a.header__nav-item(href="#") Shop
                    li.header__nav-list-item
                        a.header__nav-item(href="#") Blog
                    li.header__nav-list-item
                        a.header__nav-item(href="#") Contact
            .header__cart
                .cart 
                    span Cart 
                        span.cart-number (1)
                    
                .burger
                    span 
                    span