main.main.main-index 
        section.descriptor(style="background-image: url('img/index/description-bg.png')")
            .container
                img(src="img/index/logo.png").descriptor__logo
                h1.descriptor__title Строительные и монтажные работы любой сложности
        section.services-main   
            .container 
                h3.section-title Услуги компании
                div.services-main__items
                    div.services-main__item(style="background-image: url('img/index/services_1.png')")
                        a(href="#")
                            h4.services-main__title Бетонные и монолитные работы 
                    div.services-main__item(style="background-image: url('img/index/services_2.png')")
                        a(href="#")
                            h4.services-main__title Изготовление и монтаж металлоконструкций
                    div.services-main__item(style="background-image: url('img/index/services_3.png')")
                        a(href="#")
                            h4.services-main__title Монтаж оборудования
                    div.services-main__item(style="background-image: url('img/index/services_4.png')")
                        a(href="#")
                            h4.services-main__title Строительство объектов сельскохоз.назначения
        section.home-advantages.page-content 
            .container  
                h2.section-title ООО «ВДР-СМП»
                .home-advantages__content
                    ul.home-advantages__list 
                        li.home-advantages__item Уникальный опыт строительства промышленных и сельхоз. объектов
                        li.home-advantages__item Гарантируем максимально высокое качество монтажных работ
                        li.home-advantages__item Строительство ведется в плотном взаимодействии с клиентом на всех технологических этапах
                        li.home-advantages__item Специалисты нашей компании состоят в Национальном реестре специалистов в области строительства.
                    .home-advantages__img 
        section.new-projects    
            .container 
                .new-projects__content 
                    h2.new-projects__title.section-title Новые проекты
                    a(href="#").new-projects__all Посмотреть все проекты   
                    .new-projects__items  
                        a(href="").new-projects__item
                            img(src="img/index/new-project1.png")
                            h3  Строительство комбикормового завода для Фермерского Хозяйства «Название»
                            .new-projects__item-detail  
                                p Выставка для представителей хлебопекарного и кондитерского производства Modern Bakery Moskow.
                                span Подробнее
                        a(href="").new-projects__item
                            img(src="img/index/new-project2.png")
                            h3  Монолитные работы для «Наименование комплекса заказчика»
                            .new-projects__item-detail  
                                p Выставка для представителей хлебопекарного и кондитерского производства Modern Bakery Moskow.
                                span Подробнее
                        a(href="").new-projects__item
                            img(src="img/index/new-project3.png")
                            h3  Монолитные работы для «Наименование комплекса заказчика»
                            .new-projects__item-detail  
                                p Выставка для представителей хлебопекарного и кондитерского производства Modern Bakery Moskow.
                                span Подробнее
                        a(href="").new-projects__item
                            img(src="img/index/new-project4.png")
                            h3  Строительство комбикормового завода для Фермерского Хозяйства «Название»
                            .new-projects__item-detail  
                                p Выставка для представителей хлебопекарного и кондитерского производства Modern Bakery Moskow.
                                span Подробнее
        section.partners.page-content 
            .container
                h2.section-title Нам доверяют
                p.partners__text Наша компания дорожит репутацией надежного партнёра.
                    .slider-arrows
                        .swiper-button-prev.swiper-button-prev-partners     
                        .swiper-button-next.swiper-button-next-partners        
        .swiper-container
            .partners__slider.swiper.js-partnersSlider 
                ul.partners__list.swiper-wrapper
                    li.partners__item.swiper-slide
                        .partners__img 
                            img(src='img/index/partner1.png', alt="Ассоциация «Брянское объединение строителей»")
                        p.partners__description Ассоциация <br> «Брянское объединение строителей»
                        a(href="http://www.sro-bos.ru/").partners__link www.sro-bos.ru
                    li.partners__item.swiper-slide
                        .partners__img 
                            img(src='img/index/partner2.png', alt="«Национальное объединение строителей»")
                        p.partners__description «Национальное объединение строителей»
                        a(href="http://www.nostroy.ru/").partners__link www.nostroy.ru
                    li.partners__item.swiper-slide
                        .partners__img 
                            img(src='img/index/partner3.png', alt="Агрохолдинг «Охотно»")
                        p.partners__description Агрохолдинг «Охотно»
                        a(href="http://www.ohotno.com/").partners__link www.ohotno.com
                    li.partners__item.swiper-slide
                        .partners__img 
                            img(src='img/index/partner4.png', alt="Поставщик крепёжных изделий «Bohrer»")
                        p.partners__description Поставщик крепёжных изделий «Bohrer»
                        a(href="http://www.bohrer.ru/").partners__link www.bohrer.ru
                    li.partners__item.swiper-slide
                        .partners__img 
                            img(src='img/index/partner5.png', alt="Ассоциация «Брянское объединение строителей»")
                        p.partners__description Ассоциация «Брянское объединение строителей»
                        a(href="http://www.sro-bos.ru/").partners__link www.sro-bos.ru