main.main 
    section.main__header 
        .container 
            .main__header-wrapper 
                .main__header-right 
                    img.main__header-right-img(src="img/index/main-header.png")
                .main__header-left
                    h1.main__header-title I design digital products that make an impact.
                    p.main__header-desc Hi! I’m Alex, a product designer based in Oakland. I create user-friendly interfaces for fast-growing startups.
                    a.main__header-button(href="") Hire me!
                    .awards 
                        p.awards__title Independent Of The Year
                        p.awards__desc Annual Awards 2020 • awwwards.com
    section.about 
        .container  
            .about__wrapper
                .about__wrapper-left 
                    .section-name
                        .wave-animation
                            img.wave(src="img/svg/wave.svg", alt="")
                        h3.wave-title About
                    .feedback 
                        span.stars
                        p.feedback__text Working with Alex was interesting. He went above and beyond what I've asking for and provided such an amazing design for my mobile application.
                        p.feedback__person  
                            p.person__name Steve McQuillen
                            p.person__post CEO @ Vencortex
                .about__wrapper-right
                    h2.section-title Trusted by the fastest growing digital startups
                    ul.about__expirience
                        li.about__expirience-item 
                            span.expirience__nambers 7+
                            p.expirience__text Years of experience
                        li.about__expirience-item 
                            span.expirience__nambers 50+
                            p.expirience__text Projects completed
                        li.about__expirience-item 
                            span.expirience__nambers 30+
                            p.expirience__text Happy clients
                    .about__logo-company 
                        img(src="img/svg/logoipsum.svg", alt="")
                        img(src="img/svg/logoipsum-2.svg", alt="")
                        img(src="img/svg/logoipsum2.svg", alt="")
                        img(src="img/svg/logoipsum-3.svg", alt="")
    section.work
        .container 
            .section-name
                .wave-animation
                    img.wave(src="img/svg/wave.svg", alt="")
                h3.wave-title work
            h2.section-title Bringing stellar results for every client.
            .work__wrapper 
                a(href="#").work__item 
                    img.work__item-img(src="img/index/website.jpg", alt="")
                    h4.work__item-title Maize Website Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__item 
                    img.work__item-img(src="img/index/product.jpg", alt="")
                    h4.work__item-title Datadash Product Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__item 
                    img.work__item-img(src="img/index/website-2.jpg", alt="")
                    h4.work__item-title Joggr Website Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__item 
                    img.work__item-img(src="img/index/otsuka.jpg", alt="")
                    h4.work__item-title Otsuka Pharmaceutical
                    p.work__item-desc Partnering with healthcare researchers to improve patient communications and experience.
                a(href="#").work__item 
                    img.work__item-img(src="img/index/ui-ux.jpg", alt="")
                    h4.work__item-title Origin UI/UX Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__all-projects view all projects
    section.services    
        .container 
            .section-name
                .wave-animation
                    img.wave(src="img/svg/wave.svg", alt="")
                h3.wave-title services
            h2.section-title Pushing the boundaries of your potential
            .services__wrapper
                .services__item 
                    img.services__item-img(src="img/svg/branding.svg", alt="")
                    h3.services__item-title Branding
                    p.services__item-desc Refresh your logo, revamp your website, and even your letterhead— develop a cohesive aesthetic for your brand.
                .services__item 
                    img.services__item-img(src="img/svg/packaging.svg", alt="")
                    h3.services__item-title Packaging
                    p.services__item-desc Rethink labels, boxes, signage, and everything that'll help your product make a great first impression.
                .services__item 
                    img.services__item-img(src="img/svg/memorabilia.svg", alt="")
                    h3.services__item-title Memorabilia
                    p.services__item-desc Choose from easy, affordable options for merch like custom tees and sets of pins.
                .services__item 
                    img.services__item-img(src="img/svg/visual.svg", alt="")
                    h3.services__item-title Visual Aids
                    p.services__item-desc Make your point more convincingly with branded flyers, slides, catalogues, infographics.
                a(href="#").start-project Start a project
            .wave-decor 
                img(src="img/svg/wave-long.svg", alt="")
                img(src="img/svg/wave-short.svg", alt="")