main.main 
    section.main__header 
        .container 
            .main__header-wrapper 
                .main__header-right 
                    img.main__header-right-img(src="img/index/main-header.png")
                .main__header-left
                    h1.main__header-title I design digital products that make an impact.
                    p.main__header-desc Hi! I’m Alex, a product designer based in Oakland. I create user-friendly interfaces for fast-growing startups.
                    a.main__header-button(href="") Hire me!
                    .awards 
                        p.awards__title Independent Of The Year
                        p.awards__desc Annual Awards 2020 • awwwards.com
    section.about 
        .container  
            .about__wrapper
                .about__wrapper-left 
                    .section__name
                        .wave-animation
                            img.wave(src="img/svg/wave.svg", alt="")
                        h3.wave-title About
                    .feedback 
                        span.stars
                            span.star 
                            span.star 
                            span.star 
                            span.star 
                            span.star 
                        p.feedback__text Working with Alex was interesting. He went above and beyond what I've asking for and provided such an amazing design for my mobile application.
                        .feedback__person  
                            p.person__name Steve McQuillen
                            p.person__post CEO @ Vencortex
                .about__wrapper-right
                    h2.section-title Trusted by the fastest growing digital startups
                    ul.about__expirience
                        li.about__expirience-item 
                            p.expirience__numbers 7+
                            p.expirience__text Years of experience
                        li.about__expirience-item 
                            p.expirience__numbers 50+
                            p.expirience__text Projects completed
                        li.about__expirience-item 
                            p.expirience__numbers 30+
                            p.expirience__text Happy clients
                    .about__logo-company 
                        img(src="img/svg/logoipsum.svg", alt="")
                        img(src="img/svg/logoipsum-2.svg", alt="")
                        img(src="img/svg/logoipsum2.svg", alt="")
                        img(src="img/svg/logoipsum-3.svg", alt="")
    section.work
        .container 
            .section__name
                .wave-animation
                    img.wave(src="img/svg/wave.svg", alt="")
                h3.wave-title work
            h2.section-title Bringing stellar results for every client.
            .work__wrapper 
                a(href="#").work__item.item1 
                    img.work__item-img.img1(src="img/index/website.jpg", alt="")
                    h4.work__item-title Maize Website Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__item.item2 
                    img.work__item-img.img2(src="img/index/product.jpg", alt="")
                    h4.work__item-title Datadash Product Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__item.item3 
                    img.work__item-img.img3(src="img/index/website-2.jpg", alt="")
                    h4.work__item-title Joggr Website Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__item.item4 
                    img.work__item-img.img4(src="img/index/otsuka.jpg", alt="")
                    h4.work__item-title Otsuka Pharmaceutical
                    p.work__item-desc Partnering with healthcare researchers to improve patient communications and experience.
                a(href="#").work__item.item5 
                    img.work__item-img.img5(src="img/index/ui-ux.jpg", alt="")
                    h4.work__item-title Origin UI/UX Design
                    p.work__item-desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                a(href="#").work__all-projects view all projects
    section.services    
        .container 
            .section__name
                .wave-animation
                    img.wave(src="img/svg/wave-white.svg", alt="")
                h3.wave-title services
            .services__wrapper
                h2.section-title Pushing the boundaries of your potential
                .services__item.item1
                    img.services__item-img(src="img/svg/branding.svg", alt="")
                    h3.services__item-title Branding
                    p.services__item-desc Refresh your logo, revamp your website, and even your letterhead— develop a cohesive aesthetic for your brand.
                .services__item.item2
                    img.services__item-img(src="img/svg/packaging.svg", alt="")
                    h3.services__item-title Packaging
                    p.services__item-desc Rethink labels, boxes, signage, and everything that'll help your product make a great first impression.
                .services__item.item3
                    img.services__item-img(src="img/svg/memorabilia.svg", alt="")
                    h3.services__item-title Memorabilia
                    p.services__item-desc Choose from easy, affordable options for merch like custom tees and sets of pins.
                .services__item.item4
                    img.services__item-img(src="img/svg/visual.svg", alt="")
                    h3.services__item-title Visual Aids
                    p.services__item-desc Make your point more convincingly with branded flyers, slides, catalogues, infographics.
                a(href="#").start-project Start a project
            .wave-decor 
                img(src="img/svg/wave-long.svg", alt="")
                img(src="img/svg/wave-short.svg", alt="")
    section.testimonials
        .container 
            .section__wrapper 
                .section__name
                    .wave-animation
                        img.wave(src="img/svg/wave.svg", alt="")
                    h3.wave-title services
                    .wave-animation
                        img.wave(src="img/svg/wave.svg", alt="")
                h2.section-title Hear it directly from my clients.
                ul.swiper-wrapper
                    li
                        h3.swiper__title Highly professional
                        p.swiper__desc Alex was in control throughout the project. They delivered on the promised deadlines and we love the work they did!
                        p.feedback__person  
                            p.person__name Steve McQuillen
                            p.person__post Marketing Manager, Vowels
                    li
                        h3.swiper__title Highly professional
                        p.swiper__desc Alex was in control throughout the project. They delivered on the promised deadlines and we love the work they did!
                        p.feedback__person  
                            p.person__name Steve McQuillen
                            p.person__post Marketing Manager, Vowels
                    li
                        h3.swiper__title Highly professional
                        p.swiper__desc Alex was in control throughout the project. They delivered on the promised deadlines and we love the work they did!
                        p.feedback__person  
                            p.person__name Steve McQuillen
                            p.person__post Marketing Manager, Vowels
                    li
                        h3.swiper__title Highly professional
                        p.swiper__desc Alex was in control throughout the project. They delivered on the promised deadlines and we love the work they did!
                        p.feedback__person  
                            p.person__name Steve McQuillen
                            p.person__post Marketing Manager, Vowels
                .slider-arrows
    section.process
        .container 
            .section__name
                .wave-animation
                    img.wave(src="img/svg/wave.svg", alt="")
                h3.wave-title Process
            .section__header 
                h2.section-title Getting started is easy.
                p.section-desc I've developed a structure that saves time (and money) while making the most of our interactions..section__name
                
            .section__header 
                h2.section-title Getting started is easy.
                p.section-desc I've developed a structure that saves time (and money) while making the most of our interactions.

            .process__steps 
                .process__step 
                    h4.step__number [1] 
                    h3.step__title Listen
                    p.step__desc I get to know you and your company, your goals and expectations.
                .process__step 
                    h4.step__number [2] 
                    h3.step__title Ideate
                    p.step__desc I create a couple of pitches based on the project brief and goals.
                .process__step 
                    h4.step__number [3] 
                    h3.step__title Execute
                    p.step__desc I work on the approved plan while keeping you in the loop until we have a finished project.
    section.shop
        .container 
            .section__wrapper 
                .section__name
                    .wave-animation
                        img.wave(src="img/svg/wave.svg", alt="")
                    h3.wave-title shop
                    .wave-animation
                        img.wave(src="img/svg/wave.svg", alt="")
                h2.section-title In a rush? <br> Shop ready designs here.

                ul.swiper-wrapper
                    li
                        a(href="") 
                            img(src="img/index/pc-1.png", alt="")
                            h3.swiper__title Ergonomic Frozen Pants
                            p.swiper__desc In et consequ
                       
                    li
                        a(href="") 
                            img(src="img/index/phone.png", alt="")
                            h3.swiper__title Handmade Fresh Bike
                            p.swiper__desc Qui in facere
                       
                    li
                        a(href="") 
                            img(src="img/index/pc-2.png", alt="")
                            h3.swiper__title Small Soft Pizza
                            p.swiper__desc Aspernatur expli
                button View all products
    section.blog 
        .container 
            .section__name
                .wave-animation
                    img.wave(src="img/svg/wave.svg", alt="")
                h3.wave-title blog
            .section__header 
                h2.section-title Words On Design, Tech & Other Things I Love
                button Explore all posts
            .blog__items 
                .blog__item 
                    img(src="", alt="")
                    .blog__item-desc 
                        .item-desc__header
                            p.category design 
                            p.date 06 oct. 2022
                        h3.item-desc__title On our obsession with circles
                        p.item-desc__desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                .blog__item 
                    img(src="", alt="")
                    .blog__item-desc 
                        .item-desc__header
                            p.category design 
                            p.date 06 oct. 2022
                        h3.item-desc__title From bullet points to Yayoi Kusama— On our obsession with circles
                        p.item-desc__desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
                .blog__item 
                    img(src="", alt="")
                    .blog__item-desc 
                        .item-desc__header
                            p.category Technology  
                            p.date 06 oct. 2022
                        h3.item-desc__title It's a jungle out there for gig workers
                        p.item-desc__desc Vivamus mattis eu odio non aliquam. Vestibulum tristique congue laoreet. Nulla facilisi.
    section.work-about 
        .wa-work 
            h2.wa__title Work
            p.wa__desc Favorite projects, award-winning campaigns and more.
            button.wa__link View all
        .wa-about 
            h2.wa__title About
            p.wa__desc My journey, career highlights and everything else you need to know.
            button.wa__link Get to know me
    section.contact 
        .container
            .section__name
                .wave-animation
                    img.wave(src="img/svg/wave.svg", alt="")
                h3.wave-title contact 
            h2.contact__title Have something in mind? Let's connect.
            .contact__wrapper 
                a(href="").contact__mail 3649784@gmail.com
                ul.contact__menu 
                    li.contact__menu-link
                        a(href="") Work 
                    li.contact__menu-link
                        a(href="") About 
                    li.contact__menu-link
                        a(href="") Shop 
                    li.contact__menu-link
                        a(href="") Blog 
                    li.contact__menu-link
                        a(href="") Contact 
                ul.contact__social 
                    li.contact__social-link
                        a(href="") Twitter 
                    li.contact__social-link
                        a(href="") LinkedIn 
                    li.contact__social-link
                        a(href="") behance 
                    li.contact__social-link
                        a(href="") GitHub 
                    li.contact__social-link
                        a(href="") Dribble
                .contact__feedback 
                    h3.contact__feedback-title Subscribe to my weekly newsletter
                    form(action="#") 
                        input(type="mail")
                        button Subscribe
        

                
