main.main 
    section.main__header 
        .container 
            .main__header-wrapper 
                .main__header-right 
                    img.main__header-right-img(src="img/index/main-header.png")
                .main__header-left
                    h1.main__header-title I design digital products that make an impact.
                    p.main__header-desc Hi! I’m Alex, a product designer based in Oakland. I create user-friendly interfaces for fast-growing startups.
                    a.main__header-button(href="") Hire me!
                    .awards 
                        p.awards__title Independent Of The Year
                        p.awards__desc Annual Awards 2020 • awwwards.com
    section.about 
        .container  
            .about__wrapper
                .about__wrapper-left 
                    .wave-animation
                        img.wave(src="img/svg/wave.svg", alt="")
                    h2 About
                    .feedback 
                        span.stars
                        p.feedback__text Working with Alex was interesting. He went above and beyond what I've asking for and provided such an amazing design for my mobile application.
                        p.feedback__person  
                            p.person__name Steve McQuillen
                            p.person__post CEO @ Vencortex
                .about__wrapper-right
                    h2.about__title Trusted by the fastest growing digital startups
                    ul.about__expirience
                        li.about__expirience-item 
                            span.expirience__nambers 7+
                            p.expirience__text Years of experience
                        li.about__expirience-item 
                            span.expirience__nambers 50+
                            p.expirience__text Projects completed
                        li.about__expirience-item 
                            span.expirience__nambers 30+
                            p.expirience__text Happy clients
                    .about__logo-company 
                        img(src="img/svg/logoipsum.svg", alt="")
                        img(src="img/svg/logoipsum-2.svg", alt="")
                        img(src="img/svg/logoipsum2.svg", alt="")
                        img(src="img/svg/logoipsum-3.svg", alt="")